@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .num-text {
    @apply text-7xl text-gold lg:text-9xl;
  }
}

:root {
  font-family: Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@font-face {
  font-family: FogtwoNo5;
  src: url("/font/FogtwoNo5.woff2") format("Web Open Font Format 2.0");
}
