@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .num-text {
    @apply text-7xl text-gold lg:text-9xl;
  }

  .black-full {
    @apply fixed top-0 left-0 z-[41] h-full w-full bg-[#1e1e1e];
  }

  .gold-full {
    @apply fixed top-0 left-0 z-40 h-full w-full bg-gold;
  }

  .clip-0-top {
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
  }
}

:root {
  font-family: Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@font-face {
  font-family: FogtwoNo5;
  src: url("/font/FogtwoNo5.woff2") format("Web Open Font Format 2.0");
}

body {
  overflow-y: hidden;
  background-color: #f5f5f5;
  scroll-behavior: smooth;
}
